<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>

    <h1>Meet our Party Animals</h1>
    <div class="container">
        
        <% for(let i = 0; i < dog.length; i++){ %>
            <div class="list-item">
                
                <h3>
                <a href="/pawsanddogs/<%=dog[i].id %>"> <%=dog[i].name %> </a>
                    </h3>
                <!-- <p>
                   Description: <br> <%= dog[i].description %> 
                </p> -->
                <img src="<%= dog[i].img %> " alt="">
                <p>
                   Breed: <%= dog[i].breed %> 
                </p>
                <p>
                   Age: <%= dog[i].age %> 
                </p>
                   
           
            </div>
        <% } %>
    
</div>
<nav>
  <div class="index-links">
      <a href="http://localhost:3002/">Back To Home Page</a>      
  <a href="pawsanddogs/new">Add Your Fur Baby Here</a>
  </div>
  </nav>
</main>

<%- include('./partials/footer.ejs') %>