<%- include('./partials/header.ejs') %>

    <body>
        <div class="huncho">
            <img src="<%= dog.img %> " alt="">
        </div>
    <div class="show-text">
        <h1> <%= dog.name %> </h1>

        <h2 class="show-breed"> <%= dog.breed %> </h2>

        <h3 class="show-desc"> <%= dog.description %> </h3>
        
        <p>
          Age:  <%= dog.age %> 
        </p>
        <!-- <p>
            Love Level:  <%= dog.loveable %> 
          </p> -->
          <p><a href="/pawsanddogs/<%=dog.id %>/edit">Edit</a></p>
                    <!-- <form action="/pawsanddogs/<%=dog.id %>?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form> -->
        <nav>
            <a href="/pawsanddogs">Back to Our Furry Friends</a>
        </nav>
        </div>
    </body>
</html>